/* Catalog.css */
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.custom-card {
    width: calc(50% - 100px);
    margin: 45px;
}

input {
    width: 50px;
    padding: 5px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: #fff;
    border-radius: 5px;
}

button.okey {
    margin-left: 10px;
    border-radius: 1cqb;
}

button.delete {
    margin-left: 10px;
    border-radius: 10px;
    background-color: #dc3545;
}